.home {
  background-color: #ffffff;
  min-height: 100vh;
  width: 100%;
}
.home__container {
  display: flex;
  flex-direction: column;
  padding: 120px 200px;
  max-width: 1400px;
  margin: 0 auto;
}
