.topHeader_title {
  font-size: 20px;
  font-weight: 700;
  color: #bdbdbd;
}

.topHeader__container {
  width: 100%;
  display: flex;
  height: 74px;
  border-bottom: 1px solid #bdbdbd;
  border-top: 1px solid #bdbdbd;
  gap: 250px;
  padding: 5px 0px;
}

.header-title {
  font-size: 16px;
  font-weight: 700px;
}

.subheader {
  font-size: 14px;
  font-weight: 400;
  color: #bdbdbd;
}
